<div class="container" [hidden]="!visible">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Foods toolbar">
        <div class="btn-group" role="group" aria-label="Actions">
            <button type="button" class="btn btn-secondary" (click)="saveSelection()">Ok</button>
            <button type="button" class="btn btn-secondary" (click)="resetSelection()">Reset</button>
            <button type="button" class="btn btn-secondary" (click)="cancelSelection()">Cancel</button>
        </div>
        <div class="input-group">
            <input type="text" readonly class="form-control" aria-label="food price" aria-describedby="btnGroupAddon2" value="{{price | number:'1.2-3':'fr'}}">
            <div class="input-group-append">
                <span class="input-group-text" id="btnGroupAddon2">€</span>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card bg-light" *ngFor="let food of foods">
            <div class="card-body text-center">
                <div (click)="foodSelection(food)">
                    <h5 class="card-title">{{food.name | titlecase}}
                        <span class="badge badge-pill badge-primary" *ngIf="getQuantity(food)">
                            {{getQuantity(food)}}
                        </span>
                    </h5>
                    <p class="card-text">{{food.price | currency:food.currency:'symbol-narrow':'1.2-3':'fr'}}</p>
                </div>
                <ng-container *ngIf="food.needCooking && getQuantity(food)">
                    <hr>
                    <!-- <select class="custom-select" name="cooking" id="{{food._id+'_cooking'}}" required [ngModel]="foodCookings[food._id]" (ngModelChange)="foodCookingSelection(food,$event)">
                        <option [value]="null">Selectioner cuisson</option>
                        <option *ngFor="let cooking of cookings" [value]="cooking.value">{{cooking.label}}</option>
                    </select> -->
                    <div class="form-check" *ngFor="let cooking of cookings; let i = index">
                      <input class="form-check-input" type="radio" name="{{food._id+'_cooking'}}" id="{{food._id+'_cooking'+i}}" value="{{cooking.value}}"  [ngModel]="foodCookings[food._id]" (ngModelChange)="foodCookingSelection(food,$event)">
                      <label class="form-check-label" for="{{food._id+'_cooking'+i}}">
                        {{cooking.label}}
                      </label>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>
