<main>
  <div class="container">
    <h1>Foods Page</h1>
    <div [hidden]="showDetail">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseUploadFood" aria-expanded="false"
        aria-controls="collapseUploadFood">
        Upload Data
      </button>
      <form (ngSubmit)="uploadFoods()" #importFoodForm="ngForm" id="collapseUploadFood" class="collapse">
        <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input form-control" ngModel (change)="changeUploadFile($event.target.files)" name="file"
              required accept="*.csv">
            <label class="custom-file-label" for="file">{{uploadFile? uploadFile.name : 'Choose File'}}</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">
              <i class="fa fa-upload"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <cmdr-food-detail [hidden]="!showDetail" [food]="detailBody" [categories]="foodCategories" (foodChange)="detailChange($event)"></cmdr-food-detail>
    <table class="table table-hover" [hidden]="showDetail">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Updated</th>
          <th scope="col">
            <button type="button" class="btn btn-success" (click)="addFood()" [attr.disabled]="isAdding || editingMode || null">
              <i class="fa fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods; let i = index">
          <td scope="row">{{i+1}}</td>
          <td>
            {{food.name | titlecase}}
          </td>
          <td>
            {{food.category | titlecase}}
          </td>
          <td>
            {{food.price | number:'1.2-3':'fr'}}
          </td>
          <td>
            {{food.updated | date:'medium':'':'fr'}}
          </td>
          <td>
            <button type="button" class="btn btn-info" (click)="editFood(i)" [attr.disabled]="isAdding || editingMode || null">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="deleteFood(food._id)" [attr.disabled]="isAdding || editingMode || null">
              <i class="fa fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
