<main>
  <div class="container">
    <h1>Foods Page</h1>
    <form (ngSubmit)="uploadFoods()" #importFoodForm="ngForm">
      <div class="input-group mb-3">
          <div class="custom-file">
            <input type="file" class="custom-file-input form-control" ngModel (change)="changeUploadFile($event.target.files)" name="file"
              required accept="*.csv">
            <label class="custom-file-label" for="file">{{uploadFile? uploadFile.name : 'Choose File'}}</label>
          </div>
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">
              <i class="fa fa-upload"></i>
            </button>
          </div>
        </div>
    </form>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Updated</th>
          <th scope="col">
            <button type="button" class="btn btn-success" (click)="addFood()" [attr.disabled]="isAdding || null">
              <i class="fa fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of foods; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>
            <ng-container *ngIf="!isEditing">
              {{food.name}}
            </ng-container>
            <ng-container *ngIf="isEditing">
              <input [(ngModel)]="editFoodBody.name">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!isEditing">
              {{food.price}}
            </ng-container>
            <ng-container *ngIf="isEditing">
              <input [(ngModel)]="editFoodBody.price">
            </ng-container>
          </td>
          <td>
            {{food.updated | date:'medium':'':'fr'}}
          </td>
          <td>
            <ng-container *ngIf="!isEditing">
              <button type="button" class="btn btn-info" (click)="editFood(i)" [attr.disabled]="isAdding || null">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteFood(food._id)" [attr.disabled]="isAdding || null">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="isEditing">
              <button type="button" class="btn btn-success" (click)="saveEditedFood(food._id)">
                <i class="fa fa-save"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="cancelEditing()">
                <i class="fa fa-ban"></i>
              </button>
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="isAdding">
          <th scope="row">{{foods.length+1}}</th>
          <td>
            <input [(ngModel)]="newFoodBody.name">
          </td>
          <td>
            <input [(ngModel)]="newFoodBody.price">
          </td>
          <td>
            {{newFoodBody.created | date}}
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="saveNewFood()">
              <i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="cancelAdding()">
              <i class="fa fa-ban"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>