<main>
  <div class="container">
    <h1>Drinks Page</h1>
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Updated</th>
          <th scope="col">
            <button type="button" class="btn btn-success" (click)="addDrink()" [attr.disabled]="isAdding || null">
              <i class="fa fa-plus"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let drink of drinks; let i = index">
          <th scope="row">{{i+1}}</th>
          <td>
            <ng-container *ngIf="!isEditing">
              {{drink.name}}
            </ng-container>
            <ng-container *ngIf="isEditing">
              <input [(ngModel)]="editDrinkBody.name">
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="!isEditing">
              {{drink.price}}
            </ng-container>
            <ng-container *ngIf="isEditing">
              <input [(ngModel)]="editDrinkBody.price">
            </ng-container>
          </td>
          <td>
            {{drink.updated | date}}
          </td>
          <td>
            <ng-container *ngIf="!isEditing">
              <button type="button" class="btn btn-info" (click)="editDrink(i)" [attr.disabled]="isAdding || null">
                <i class="fa fa-edit"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="deleteDrink(drink._id)" [attr.disabled]="isAdding || null">
                <i class="fa fa-trash"></i>
              </button>
            </ng-container>
            <ng-container *ngIf="isEditing">
              <button type="button" class="btn btn-success" (click)="saveEditedDrink(drink._id)">
                <i class="fa fa-save"></i>
              </button>
              <button type="button" class="btn btn-danger" (click)="cancelEditing()">
                <i class="fa fa-ban"></i>
              </button>
            </ng-container>
          </td>
        </tr>
        <tr *ngIf="isAdding">
          <th scope="row">{{drinks.length+1}}</th>
          <td>
            <input [(ngModel)]="newDrinkBody.name">
          </td>
          <td>
            <input [(ngModel)]="newDrinkBody.price">
          </td>
          <td>
            {{newDrinkBody.created | date}}
          </td>
          <td>
            <button type="button" class="btn btn-success" (click)="saveNewDrink()">
              <i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-danger" (click)="cancelAdding()">
              <i class="fa fa-ban"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>