<div class="container" [hidden]="!visible">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Drinks toolbar">
        <div class="btn-group" role="group" aria-label="Actions">
            <button type="button" class="btn btn-secondary" (click)="saveSelection()">Ok</button>
            <button type="button" class="btn btn-secondary" (click)="resetSelection()">Reset</button>
            <button type="button" class="btn btn-secondary" (click)="cancelSelection()">Cancel</button>
        </div>
        <div class="input-group">
            <input type="text" readonly class="form-control" aria-label="drink price" aria-describedby="btnGroupAddon2"
                value="{{price | number:'1.2-3':'fr'}}">
            <div class="input-group-append">
                <span class="input-group-text" id="btnGroupAddon2">€</span>
            </div>
        </div>
    </div>
    <div class="card-columns">
        <div class="card bg-light" *ngFor="let drink of drinks" (click)="drinkSelection(drink)">
            <div class="card-body text-center">
                <h5 class="card-title">{{drink.name}}
                    <span class="badge badge-pill badge-primary" *ngIf="getQuantity(drink)">{{getQuantity(drink)}}</span>
                </h5>
                <p class="card-text">{{drink.price | currency:drink.currency:'symbol-narrow':'1.2-3':'fr'}}</p>
            </div>
        </div>
    </div>
</div>