<div class="container" [hidden]="!visible">
    <div class="btn-group" role="group" aria-label="Actions">
        <button type="button" class="btn btn-secondary" (click)="saveSelection()">Ok</button>
        <button type="button" class="btn btn-secondary" (click)="cancelSelection()">Cancel</button>
    </div>
    <div class="card-deck">
        <div class="card bg-light" *ngFor="let drink of drinks" (click)="drinkSelection(drink)">
            <div class="card-body text-center">
                <h5 class="card-title">{{drink.name}}</h5>
                <p class="card-text">{{drink.price | currency:drink.currency:'symbol-narrow':'1.2-3':'fr'}}</p>
            </div>
        </div>
    </div>
</div>