<ng-container *ngIf="isNew">
    <main>
        <div class="container">
            <button class="btn btn-info" (click)="goBack()">
                <i class="fa fa-arrow-left"></i>Back
            </button>
            <h1>NEW COMMAND</h1>
            <form (ngSubmit)="saveCommand()" #commandBodyForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="commandBody.name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="name">Drinks</label>
                    <button type="button" class="btn btn-info" (click)="drinkVisibility = true">
                        <i class="fa fa-plus"></i>
                    </button>
                    <cmdr-drink-choice [(visible)]="drinkVisibility"></cmdr-drink-choice>
                </div>
                <div class="form-group">
                    <label for="name">Rounds</label>
                    <button type="button" class="btn btn-info" (click)="roundVisibility = true">
                        <i class="fa fa-plus"></i>
                    </button>
                    <cmdr-drink-choice [(visible)]="roundVisibility"></cmdr-drink-choice>
                </div>
                <div class="form-group">
                    <label for="name">Meals</label>
                    <button type="button" class="btn btn-info" (click)="foodVisibility = true">
                        <i class="fa fa-plus"></i>
                    </button>
                    <cmdr-food-choice [(visible)]="foodVisibility"></cmdr-food-choice>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!commandBodyForm.form.valid">Save</button>
                </div>
            </form>
        </div>
    </main>
</ng-container>
<ng-container *ngIf="!isNew">
    <main>
        <div class="container">
            <button class="btn btn-info" (click)="goBack()">
                <i class="fa fa-arrow-left"></i>Back
            </button>
            <h1>EDIT COMMAND</h1>
            <form (ngSubmit)="updateCommand()" #commandBodyForm="ngForm" *ngIf="commandBody">
                <div class="form-group">
                    <span class="switch">
                        <input type="checkbox" class="form-control switch" name="isPaid" id="isPaid" [(ngModel)]="commandBody.isPaid">
                        <label for="isPaid">Paid</label>
                    </span>
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="commandBody.name" name="name" required>
                </div>

                <div class="form-group">
                    <label for="name">Drinks</label>
                    <button type="button" class="btn btn-info" (click)="drinkVisibility = true">
                        <i class="fa fa-plus"></i>
                    </button>
                    <cmdr-drink-choice [(visible)]="drinkVisibility"></cmdr-drink-choice>
                </div>

                <div class="form-group">
                    <label for="name">Rounds</label>
                    <button type="button" class="btn btn-info" (click)="roundVisibility = true">
                        <i class="fa fa-plus"></i>
                    </button>
                    <cmdr-drink-choice [(visible)]="roundVisibility"></cmdr-drink-choice>
                </div>

                <div class="form-group">
                    <label for="name">Meals</label>
                    <button type="button" class="btn btn-info" (click)="foodVisibility = true">
                        <i class="fa fa-plus"></i>
                    </button>
                    <cmdr-food-choice [(visible)]="foodVisibility"></cmdr-food-choice>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!commandBodyForm.form.valid">Save</button>
                </div>
            </form>
        </div>
    </main>
</ng-container>