<ng-container *ngIf="isNew">
    <main>
        <div class="container">
            <button class="btn btn-info" (click)="goBack()">
                <i class="fa fa-arrow-left"></i>Back
            </button>
            <h1>NEW COMMAND</h1>
            <form (ngSubmit)="saveCommand()" #commandBodyForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="commandBody.name" name="name" required>
                </div>
                <div class="form-group">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cmdDetail of commandDetails">
                            <span class="command-detail">{{cmdDetail.detail | titlecase}}</span>
                            <span class="command-price">{{cmdDetail.price | number:'1.2-3':'fr'}}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="command-detail">Total</span>
                            <span class="command-price">{{commandBody.price | number:'1.2-3':'fr'}}</span>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <button type="button" class="nav-link btn" [ngClass]="{'btn-outline-secondary': !roundVisibility, 'btn-info': roundVisibility}"
                                (click)="roundVisibility = true">
                                Rounds
                                <i class="fa fa-plus"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link btn" [ngClass]="{'btn-outline-secondary': !foodVisibility, 'btn-info': foodVisibility}"
                                (click)="foodVisibility = true">
                                Meals
                                <i class="fa fa-plus"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="form-group">
                    <cmdr-drink-choice [(visible)]="roundVisibility" (drinksSelection)="roundSelection($event)"></cmdr-drink-choice>
                    <cmdr-food-choice [(visible)]="foodVisibility" (foodsSelection)="mealSelection($event)"></cmdr-food-choice>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!commandBodyForm.form.valid">Save</button>
                </div>
            </form>
        </div>
    </main>
</ng-container>
<ng-container *ngIf="!isNew">
    <main>
        <div class="container">
            <button class="btn btn-info" (click)="goBack()">
                <i class="fa fa-arrow-left"></i>Back
            </button>
            <h1>EDIT COMMAND</h1>
            <form (ngSubmit)="updateCommand()" #commandBodyForm="ngForm" *ngIf="commandBody">

                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="commandBody.name" name="name" required>
                </div>

                <div class="form-group">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let cmdDetail of commandDetails">
                            <span class="command-detail">{{cmdDetail.detail | titlecase}}</span>
                            <span class="command-price">
                                <span class="command-price-number">{{cmdDetail.price | number:'1.2-3':'fr'}}</span>
                                <span class="switch switch-sm">
                                    <input type="checkbox" class="form-control switch" name="{{cmdDetail.id}}_isPaid" id="{{cmdDetail.id}}_isPaid" [(ngModel)]="cmdDetail.paid">
                                    <label for="{{cmdDetail.id}}_isPaid"></label>
                                </span>
                            </span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="command-detail">Total</span>
                            <span class="command-price">
                                <span class="command-price-number">{{commandBody.price | number:'1.2-3':'fr'}}</span>
                                <span class="switch switch-sm">
                                    <input type="checkbox" class="form-control switch" name="isPaid" id="isPaid" [(ngModel)]="commandBody.isPaid">
                                    <label for="isPaid"></label>
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <button type="button" class="nav-link btn" [ngClass]="{'btn-outline-secondary': !roundVisibility, 'btn-info': roundVisibility}"
                                (click)="roundVisibility = true">
                                Rounds
                                <i class="fa fa-plus"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <button type="button" class="nav-link btn" [ngClass]="{'btn-outline-secondary': !foodVisibility, 'btn-info': foodVisibility}"
                                (click)="foodVisibility = true">
                                Meals
                                <i class="fa fa-plus"></i>
                            </button>
                        </li>
                    </ul>
                </div>

                <div class="form-group">
                    <cmdr-drink-choice [(visible)]="roundVisibility" (drinksSelection)="roundSelection($event)"></cmdr-drink-choice>
                    <cmdr-food-choice [(visible)]="foodVisibility" (foodsSelection)="mealSelection($event)"></cmdr-food-choice>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success" [disabled]="!commandBodyForm.form.valid">Save</button>
                </div>
            </form>
        </div>
    </main>
</ng-container>