<main>
<div class="card-group">
    <div class="card">
      <canvas id="myBarChart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Bar Chart</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
        <canvas id="myPieChart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Paid commands</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
        <canvas id="myMixedChart"></canvas>
      <div class="card-body">
        <h5 class="card-title">Mixed Chart</h5>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</main>
